

Projeto/Banco2Gether/.classpath

Projeto/Banco2Gether/bin/.classpath

*.prefs

.classpath

Projeto/Banco2Gether.rar

*.class

Projeto/Banco2Gether/bin/br/com/banco2gether/arquivos/OperacaoBancaria.csv

*.text
