

Projeto/Banco2Gether/.classpath

Projeto/Banco2Gether/bin/.classpath

*.prefs

.classpath

Projeto/Banco2Gether.rar

*.class

Projeto/Banco2Gether/bin/br/com/banco2gether/arquivos/OperacaoBancaria.csv

*.text

*.csv

Projeto/Banco2Gether/src/br/com/banco2gether/arquivos/PRESIDENTE200814031929-0300.txt
